.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgb(5, 5, 3);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #0f0f0f;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #0f0f0f;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    min-height: 500px;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.overlay {
    background: rgba(0,0,0,0.4);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.overlay-items {
    margin-top: 325px;
}

footer a {
    color: white;
}

.round {
    border-radius: 50%;
    height: 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#cb {
    transform: scale(1.5);
    align-self: center;
    margin-left: -5px;
    margin-top: -3px;
}

#buyButton:hover {
    transform: scale(1.05);
}

#getFreeBtn:hover {
    transform: scale(1.1);
}

#getFreeBtn, #buyButton {
    transition: 0.5s all;
}

#callBackBtn:hover {
    transform: rotate(-15deg);
}

#callBackBtn {
    transition: 1s all;
}

#aboutus {
    height: 8rem;
    width: 8rem;
    transition: 1s all;
}

.icon {
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 50px;
    font-size: 12px;
    font-family: sans-serif;
  }
  .icon:nth-child(1) {
    background: cornflowerblue;
  }
  .icon:nth-child(2) {
    background: salmon;
  }
  .icon:nth-child(3) {
    background: gray;
  }
  /**
   * The "shine" element
   */
  
  .icon:after, #callBackBtn:after {
    content: "";
    height: 200%;
    left: -230%;
    opacity: 0;
    position: absolute;
    top: -20%;
    transform: rotate(15deg);
    width: 200%;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
  }
  /* Hover state - trigger effect */
  
  .icon:hover:after, #callBackBtn:hover:after {
    left: -50%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  /* Active state */
  
  .icon:active:after, #callBackBtn:active:after {
    opacity: 0;
  }